<div className="paragraf">
  <ul>
    <li>
      <h3>Are you an educational institution?</h3>
      <p>
        Contact us for tailor-made learning journeys according to the needs of
        your institution
      </p>
    </li>
    <li className="mt-4">
      <h3>Are you a school student?</h3>
      <p>
        Become a user of our educational platform and become part of a worldwide
        community of entrepreneurs. Join our mailing list and we will contact
        you when it is ready
        <button>Subscribe to our newsletter</button>
      </p>
    </li>
  </ul>
</div>
