.App {
  text-align: center;
  background-color: #f2f0f2;
}

/* Head Wrapper */
.area-top {
  position: fixed;
  height: 3rem;
  width: 100%;
  background-color: #f2f0f2;
  z-index: 2;
}
/* Menu Top Wrapper */
.navbar-nav {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.nav-link {
  font-weight: 600;
  color: var(--color-text);
  padding-right: 3rem !important;
}
.nav-link a {
  transform: all 200ms ease-in;
}
.nav-link a:hover {
  color: #393939;
}
.nav-menu {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
  height: 3rem;
}

/* Video animation */
.video-screen {
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #f2f0f2;
}
.videoscreen video {
  width: 100%;
  border: 1px solid red;
}
.scroll-warn {
  position: fixed;
  bottom: 0px;
  left: 10px;
  transform: all 200ms ease-out;
}
.scroll-warn::after {
  /* opacity: 0; */
}
.free {
  margin: 0;
  padding: 0;

  position: fixed;
}
.stuck {
  margin: 0;
  padding: 0;
  position: fixed;
}
/* End Video Animation */

/* PROGESS BAR ON TOP */
.progress-bar {
  height: 0.1rem;
  width: 100%;
  z-index: 99;
  display: flex;
}
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  position: fixed;
  height: 0.1rem;
  width: 100%;
  z-index: 99;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #406eb5);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
/* END PROGESS BAR ON TOP */

.section {
  z-index: 5;
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  border-radius: 0.8rem;
  align-items: center;
}
.section-0 {
  position: absolute;
  top: 30rem;
  height: 20rem;
  background-color: #85d4ac75;
  display: flex;
  width: 100%;
  justify-content: center;
}
.section-1 {
  position: absolute;
  display: flex;
  width: 50%;
  height: 25rem;
  justify-content: center;
  left: 0px;
  background-color: #f2c67f75;
  top: 60rem;
}
.section-1-2 {
  position: absolute;
  display: flex;
  width: 50%;
  height: 30rem;
  justify-content: center;
  right: 0px;
  background-color: #f6e2a675;
  top: 80rem;
}
.section-1-3 {
  position: absolute;
  display: flex;
  width: 50%;
  height: 30rem;
  justify-content: center;
  left: 50px;
  background-color: #f2bfbe75;
  top: 100rem;
}
.section-1-4 {
  position: absolute;
  display: flex;
  width: 60%;
  margin-left: 3rem;
  height: 100%;
  justify-content: center;
  padding-bottom: 20rem;
  background-color: #f0a5be75;
  top: 140rem;
}
.section-2 {
  display: flex;
  width: 200px;
  justify-content: flex-end;
  margin-right: 20%;

  top: 28rem;
  padding-bottom: 10rem;
}
/* SCROLL RELATED */
body::-webkit-scrollbar {
  --scrollbar-foreground: #406eb550;
  --scrollbar-background: #406eb5;
  width: 0.8rem;
  /* Foreground, Background */
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  height: 100%;
}
body::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
  background: linear-gradient(-45deg, #406eb5, #406eb590);
}
/* END SCROLL RELATED */
