.App {
  text-align: center;
}

/* Head Wrapper */
.area-top {
  position: fixed;
  height: 3rem;
  width: 100%;
  background-color: transparent;
}
/* Menu Top Wrapper */
.navbar-nav {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.nav-link {
  font-weight: 600;
  color: var(--color-text);
  padding-right: 3rem !important;
}
.nav-link a {
  transform: all 200ms ease-in;
}
.nav-link a:hover {
  color: #393939;
}
.nav-menu {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
  height: 3rem;
}

/* Video animation */
.video-screen {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  z-index: -1;
}
/* End Video Animation */

/* PROGESS BAR ON TOP */
.progress-bar {
  height: 0.1rem;
  width: 100%;
  z-index: 99;
  display: flex;
}
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  position: fixed;
  height: 0.1rem;
  width: 100%;
  z-index: 99;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
/* END PROGESS BAR ON TOP */

.section {
  z-index: 10;
  background-color: #f44;
  height: 40rem;
  width: 100%;
  display: flex;
}

/* SCROLL RELATED */
body::-webkit-scrollbar {
  --scrollbar-foreground: #999;
  --scrollbar-background: #333;
  width: 0.3rem;
  /* Foreground, Background */
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  height: 50%;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, orange, darksalmon);
}
/* END SCROLL RELATED */
