@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.fade.visible {
  opacity: 1;
  z-index: 999;
}

.fade.hidden {
  opacity: 0;
  z-index: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

/* Head Wrapper */
.area-top {
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 9999 !important;
  background-color: #f2f1f2 !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
/* Menu Top Wrapper */
.navbar-nav {
  display: flex;
  justify-self: flex-end;
  width: 100%;
  flex-direction: row;
  height: 100%;

  justify-content: flex-end;
}
.nav-item {
  display: flex;
  justify-content: flex-end;
}
.nav-link {
  font-weight: 600;
  color: var(--color-text);
  padding-right: 3rem !important;
}
.nav-link a {
  transform: all 200ms ease-in;
}
.nav-link a:hover {
  color: var(--color-text-hover);
}
.nav-menu {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
}
.static-info-1 {
  position: fixed;
  text-transform: uppercase;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-left: 5rem;
  width: 50%;
  height: auto;
  background-color: #f1f2f125;
}

.static-info-1 p {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;

  font-family: "riffic-medium", sans-serif !important;
  font-size: 2vw;
  color: #191919;
  text-align: center;
  letter-spacing: 0.05rem;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #00fffc,
    0 0 30px #00fffc, 0 0 40px #00fffc, 0 0 50px #00fffc, 0 0 75px #00fffb85;

  /* background: linear-gradient(
    to bottom,
    transparent,
    rgb(242, 240, 242),
    transparent
  ); */
  border-radius: 1.8rem;
}
.static-info-1 span {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "riffic-light", sans-serif !important;
  font-size: 2vw;
}
.static-info-1 strong {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "riffic-light", sans-serif !important;
  font-size: 3.2rem;
  padding-bottom: 3rem;
  border-bottom: 1px dotted #191919;
}
/* Video animation */
.video-screen {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.video-screen video {
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.scroll-warn {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  z-index: 99999;
  margin-top: 1rem;
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9vw;
  justify-content: center;
  transform: all 200ms ease-out;
  animation: blink 2s infinite;
  justify-content: flex-end;
  cursor: pointer;
}
.scroll-warn a {
  text-decoration: none;
  color: inherit;
}
.scroll-warn span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.5rem;
  font-weight: 800;
  color: #416eb5;
  letter-spacing: 0.32rem;
}
.scroll-warn::after {
  /* opacity: 0; */
}
.arrow {
  animation: blink 2s infinite;
}
.arrow svg {
  width: 0.6rem;
  color: #416eb5;
  transform: rotate(90deg);
}
.free {
  position: fixed;
}
.stuck {
  position: fixed;
}
/* End Video Animation */

/* PROGESS BAR ON TOP */
.progress-bar {
  height: 0.1rem;
  width: 100%;
  z-index: 4;
  display: flex;
}
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  position: fixed;
  height: 0.1rem;
  width: 100%;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #406eb5);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
/* END PROGESS BAR ON TOP */

.theplatform {
}

/* FOOTER */
footer {
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  background-color: #ecebebc7;
}
footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 2.5rem;
  list-style: none;
}
footer ul li {
  width: 20%;
}
footer h3 {
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
}

footer p {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;

  width: 100%;
  font-family: "riffic-light", sans-serif !important;
}
footer p a {
  text-decoration: none;
  color: inherit;
}
.footer-claim {
  display: flex;
  flex-flow: row wrap;
  width: 18rem;
}
.footer-claim strong {
  display: flex;
  justify-content: flex-start !important;
}
.section-footer-free {
  z-index: 19;
  position: fixed;
  display: flex;
  height: 13rem;
  background-color: transparent;
  box-shadow: inset 0rem 5px 4px -5px #191919;
  transition: all 500ms ease-in-out;
  bottom: 0rem;
  width: 100%; /* align-content: flex-start; */
}
.section-footer-blocked {
  position: relative;
  display: none;
  bottom: 0px;
  transition: all 500ms ease-in-out;
  background-color: rgba(242, 240, 242, 1);

  width: 100%; /* align-content: flex-start; */
}
/* END FOOTER */

/* SCROLL RELATED */
body::-webkit-scrollbar {
  --scrollbar-foreground: #406eb550;
  --scrollbar-background: #406eb5;
  width: 0.4rem;
  /* Foreground, Background */
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  height: 100%;
}
body::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
  background: linear-gradient(-45deg, #406eb5, #406eb590);
}
/* END SCROLL RELATED */

/* anchors */
.anchor1 {
  top: 12rem;
  position: absolute;
  border: 1px solid red;
}
.anchor2 {
  top: 45rem;
  position: absolute;
  border: 1px solid red;
}
.anchor3 {
  top: 60rem;
  position: absolute;
  border: 1px solid red;
}
.anchor4 {
  top: 80rem;
  position: absolute;
  border: 1px solid red;
}
.anchor5 {
  top: 100rem;
  position: absolute;
  border: 1px solid red;
}
.icon-team svg {
  width: 1rem !important;
  color: #406eb5;
  padding-right: 0.2rem;
}
.button {
  display: flex;
  cursor: pointer;

  justify-content: center;
  color: rgb(107, 107, 209);
  width: 18rem !important;
  padding: 0.3rem;
  border-radius: 0.3rem;
  background-color: rgb(89, 89, 232);
  color: white;
}
.section-plans button {
  display: flex;
  cursor: pointer;
  margin-left: 25%;
  margin-top: 1rem;
  justify-content: center;
  color: rgb(107, 107, 209);
  width: auto !important;
  padding: 0.3rem;
  border-radius: 0.3rem;
  background-color: rgb(89, 89, 232) !important;
  color: white;
}
.button:hover {
  color: #bbb8b8;
}
.checkbox {
  display: flex;
  justify-self: flex-start !important;
  height: 1rem !important;
  margin-left: 1rem;
}
.child {
  display: flex;
  left: 0;
  right: 0;
  padding-top: 2.5rem;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  z-index: 999;
  align-items: flex-start;
}
.eseuve {
  /* filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.1)); */
  z-index: -1;
  border: 0;
  filter: blur(2px) brightness(98%) drop-shadow(0 0 1px rgba(0, 0, 0, 0.1));
}

/* .section-2 {
  display: flex;
  width: 200px;
  justify-content: flex-end;
  margin-right: 20%;
  top: 28rem;
  padding-bottom: 10rem;
  border: 1px solid red;
} */

/* SECTIONS */
/* SHARED */

.sectionx {
  z-index: 5;
  position: inherit;
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  height: 100%;
  width: 100%;
}
.section {
  z-index: 5;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1.8rem;
  align-items: flex-start;
  justify-content: flex-start;
  /* overflow: hidden;  border-radius: 1.8rem;*/
}
/* SECTION PLATFORM */
.section.section-platform {
  position: absolute;
  z-index: 10;
  /* visibility: hidden; */
  top: 30rem;

  left: 10rem;
  /* display: flex;
  flex-direction: column; */
  width: 60%;
  height: 20vh;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1vw;
}
.platform-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 30rem;
}
.section-platform {
  position: absolute;
  z-index: 10;
  top: 30rem;
  left: 10rem;
  width: 60%;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1vw;
}
.section-legal {
  position: relative;
}

.section-legal::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  filter: none;
}

.content-legal {
  position: relative;
  background-color: transparent !important;
  z-index: 9999999999;
  padding: 3rem;
  height: 95%;
  overflow-y: scroll;
}

/* @media (min-width: 1440px) {
  .section-platform {
    min-height: 55%;
    width: 60% !important;
    left: 10.5rem !important;
    font-size: 1.18vw !important;
  }
  .section-plans {
    min-height: 80% !important;
    border: 1px solid red;
  }
}
@media (min-width: 2560px) {
  .section-platform {
    min-height: 50%;
    width: 50% !important;
    left: 10.5rem !important;
    font-size: 1.18vw !important;
  }
  .section-plans {
    min-height: 80% !important;
    border: 1px solid red;
  }
} */
.section-platform-color {
  background-color: #85d4ac95;
}
.section-plans-color {
  background-color: #f2c67f95;
}
.section-about-color {
  background-color: #f6e2a675;
}
.section-theteam-color {
  background-color: #f2bfbe50;
}
.section-contact-color {
  background-color: #f0a5be85;
}
.section-subscribe-color {
  background-color: #cea5f090;
}
.section-legal-color {
  background-color: #cddedf;
}
/* ENS SECTION PLATFORM */

/* SECTION PLANS */
.section.section-plans {
  display: flex;
  width: 49%;
  height: 23rem;
  margin-right: 2rem;
  left: 45%;
  flex-direction: column;
  top: 55rem;
  align-items: center;
  justify-content: flex-start;
  font-size: 1vw;
}
.section-plans .paragraf {
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.section-plans ul {
  list-style: none;
}
.section-plans .paragraf p {
  margin-top: 0.3rem;
}
.section-plans .paragraf {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 1rem;

  width: 100%;
}
.section-plans h2 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 3rem;
}
.carroussel {
  display: flex;
  flex-flow: row no-wrap;
  width: 100%;

  margin-right: 1rem;
  height: 10rem;
}
.carroussel ul {
  display: flex;
  flex-flow: row no-wrap;
}
.carroussel ul li {
  width: 8rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
/* SECTRION ABOUT US */
.section-about-us {
  position: absolute;
  display: flex;
  width: 50%;
  height: 27rem;
  justify-content: center;
  left: 100px;

  justify-content: flex-start;
  top: 70rem;
  font-size: 1vw;
}

.section-theteam {
  position: absolute;
  display: flex;
  width: 65%;
  height: 36rem;
  justify-content: flex-start;
  align-items: flex-start;
  left: 100px;
  z-index: 999;
  top: 91rem;
}
section p,
section h2,
section h3,
section h4,
section ul {
  padding-top: 0;
  padding-left: 2%;
  padding-right: 5%;
  list-style-position: inside;
}

.section-contact {
  position: relative;
  display: flex;
  width: 50%;
  margin-left: 3rem;
  height: 27rem;
  justify-content: flex-start;

  top: 95rem;
  z-index: 9;
  font-size: 1vw;
}
.section-contact ul {
  list-style: none;
}

.section-subscribe {
  position: absolute;
  display: flex;
  width: 40%;
  height: 17rem;
  right: 0;
  margin-right: 4rem;
  top: 132rem;
  z-index: 9;
  font-size: 0.8vw;
}
.section-subscribe ul {
  list-style: none;
}

.section-1-5 {
  position: absolute;
  display: flex;
  width: 100%;
  height: 1rem;
  justify-content: flex-start;
  top: 180rem;
  background-image: -webkit-linear-gradient(
    -90deg,
    transparent,
    rgb(242, 240, 242)
  );
  /* -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #406eb5); */
}
.carrousel-theteam {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.image-carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 35rem;
}

.image-carousel img {
  max-height: 50%;

  object-fit: cover;
  border-radius: 0.3rem;
}
.slide-container {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 10rem;
  margin-top: 3rem;
  height: 100%;

  padding: 0;
}

.slide {
  /* display: none;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 25rem;
  transition: transform 0.5s ease-in-out;
  flex-shrink: 0; */
  position: absolute;
  display: flex;
  width: auto;
  height: 100%;

  top: 0;
  left: 0;
  opacity: 0;
  /* transform: translateY(-10%); */
  border-radius: 0.3rem;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slide img {
  width: 100%;
  height: 45%;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
  transform: scale(1);
}

.text-slide-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 0.2rem;
  margin-left: 0rem;

  transition: height 0.3s ease-out;
}

.text-slide-container {
  position: relative;
  height: 100%;
  width: 70%;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 0.2rem;
  margin-left: 1rem;
  border-bottom: 1px dotted #393939;
  transition: height 0.3s ease-out;
}
.slide .text {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  height: auto;
  left: 1rem;
  position: absolute;
  top: 10rem;
}
.description {
  background: rgba(255, 255, 255, 0.5);
  color: rgb(62, 62, 62);
  padding: 1rem;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
.controls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2000;
}

.controls button {
  padding: 0.5rem;
  margin-right: 0.5rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  filter: drop-shadow(0 0 0.1rem rgba(19, 19, 19, 75));
}

@media only screen and (min-width: 600px) {
  .static-info-1 {
    position: fixed;
    text-transform: uppercase;
    z-index: 2;
    top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: auto;
    background-color: #f1f2f125;
  }
  .static-info-1 h1 {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: 3vw;
    font-family: "riffic-medium", sans-serif !important;

    color: #191919;
    text-align: center;
    letter-spacing: 0.05rem;

    border-radius: 1.8rem;
  }
  .static-info-1 span {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "riffic-light", sans-serif !important;
  }
  .static-info-1 strong {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "riffic-light", sans-serif !important;

    padding-bottom: 3rem;
    border-bottom: 0.1rem solid #191919;
  }
}
.text-effect h2 {
  font-size: 1.1rem;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #403d3d, #664f4f);
  -webkit-background-image: linear-gradient(to right, #464343, #979494);
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
}

.text-effect h2:hover {
  background-image: linear-gradient(to right, #9d9d9d, #3c3b3b);
  -webkit-background-image: linear-gradient(to right, #646363, #434141);
}
.text-effect {
  transition: transform 0.5s ease-out;
}

.text-effect.hovered {
  color: #272727;
}

.link-icon-team {
  text-decoration: none;
}

/* ·3D */
.container3d {
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  border: 1px solid #ffffff01;
}
.box3d {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid #cddedf;
}
#ex1-layer {
  width: 100%;

  height: 100%;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.ballcontainer {
  z-index: 999999;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.circle {
  z-index: 999999;
  position: absolute;
  background: black;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  background-image: url("/public/favicon-16x16.png");
}

/* CONTACT */
.button-contact {
  display: flex;
  justify-content: flex-end;
}

.form-wrapper {
  padding: 1rem;
  margin-right: 1.5rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  flex-direction: column;
  background-color: #19191925;
}
.form-wrapper input {
  border: 0;
  width: 100%;
  height: 3rem;

  padding-left: 1rem;
}
.form-wrapper textarea {
  border: 0;
  width: 100%;
  padding: 1rem;

  height: 7rem;
  margin-top: 1.5rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .section-platform {
    min-height: 50%;
    width: 80% !important;
    left: 1.5rem !important;
    font-size: 0.7rem !important;
  }
  .section-theteam {
    min-height: 50%;
    width: 80% !important;
    left: 1.5rem !important;
    font-size: 0.7rem !important;
  }
}

/* @media (min-width: 768px) and (max-width: 768px) {
  .section-platform {
    min-height: 34%;
    width: 80% !important;
    left: 2.5rem !important;
    font-size: 1.28vw !important;
  }
} */
@media (min-width: 769px) and (min-width: 1024px) {
  .static-info-1 {
    top: 20rem;
    font-size: 2vw;
  }
  .section-platform {
    min-height: 49%;
    width: 54% !important;
    left: 10rem !important;
    font-size: 1.1vw !important;
  }
  .section-theteam {
    min-height: 49%;
    width: 74% !important;
    left: 10rem !important;
    font-size: 1.1vw !important;
    border: 1px solid red;
  }
  .section-theteam::-webkit-scrollbar {
    width: 0.5em;
    background-color: #f5f5f5;
  }

  .section-theteam::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
  .section-plans {
    min-height: 49% !important;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.form-group {
  position: relative;
  justify-content: flex-start;
  margin-bottom: 1rem;
  width: 100%;
  display: grid;
}

.form-group .input,
.form-group .checkbox,
.form-group,
.textarea {
  width: 100%;
  font-size: 1.5rem;
  border-radius: 5px;
  margin-left: 0px;
}

label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #626060;
  transition: all 0.3s ease-in-out;
}

.input:focus + label,
.input:valid + label {
  top: -26px;
  left: 0;
  transform: translateY(0);
  color: #ffffff90;
  font-size: 1.2rem;
}
.message-contact:focus + label,
.message-contact:valid + label {
  top: -6px;
  left: 0;
  transform: translateY(0);
  color: #ffffff90;
  font-size: 1.2rem;
}
.name-contact:focus + label,
.name-contact:valid + label {
  top: -26px;
  left: 0;
  transform: translateY(0);
  color: #ffffff90;
  font-size: 1.2rem;
}
.email-contact:focus + label,
.email-contact:valid + label {
  top: -26px;
  left: 0;
  transform: translateY(0);
  color: #ffffff90;
  font-size: 1.2rem;
}

.ball-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ball {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
}
.neon {
  color: #fff;
  animation: neon-text-animation 2s ease-in-out infinite;
}

.typewriter {
  padding: 2.8rem;
  background: #7ad1e57d;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
