:root {
  --color-text: #191919;
  --color-text-hover: #09090950;
}

@font-face {
  font-family: "riffic-light";
  src: url("assets/fonts/riffic-light.ttf") format("truetype");
}
@font-face {
  font-family: "riffic-medium";
  src: url("assets/fonts/riffic-medium.ttf") format("truetype");
}
@font-face {
  font-family: "riffic-book";
  src: url("assets/fonts/riffic-book.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "riffic-book", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f0f2 !important;
  color: var(--color-text);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "riffic-medium", sans-serif !important;
  letter-spacing: 0.015rem;
}
html {
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
